:root {
  --text-color: #ffe5cf;
  --text-color-2: #33372c;
  --background-color: #557c56;
  --background-color-2: #33372c;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins";
}

a {
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top:100px;
}
header {
  width: 100%;
  height: auto;
  padding: 2rem 3rem;
  background-color: red;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--background-color-2);
  color: var(--text-color);
  border-bottom: 1px solid white;
}

.navigation {
  display: flex;
  gap: 1rem;
}
.nav-link {
  color: var(--text-color);
  font-size: 1.2rem;
  transition: 0.3s;
}
.nav-link:hover{
  transform: translateY(-2px);
  color: var(--background-color);
}

.intro {
  width: 100%;
  padding: 10rem 3rem;
  background-color: var(--text-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--text-color-2);
}
.title {
  font-size: 2.5rem;
}
.intro-paragraph {
  width: 45%;
  margin: auto;
  font-size: 1.2rem;
}
.section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 3rem;
  background-color: #603f26;
}
.cairo,
.luxor {
  background-color: var(--background-color-2);
  color: var(--text-color);
}
.alexandria,
.aswan {
  background-color: #ffdbb5;
  color: var(--text-color-2);
}
.heading {
  grid-column: 1/-1;
}
.destination{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 90%;
  padding:1.5rem;
  border-radius: 10px;
}
.cairo .destination,
.luxor .destination{
  background-color: var(--text-color);
  color: var(--background-color-2);
}

.alexandria .destination,
.aswan .destination{
  background-color: var(--background-color-2);
  color: var(--text-color);
}

img {
  width: 40%;
}

footer{
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  background-color: var(--background-color-2);
  color: var(--text-color);
  padding: 0.5rem;
}
